body{
    width: 100%;
    background: rgb(113, 202, 238);
    margin-left: 20px;
    max-width: fit-content;  
}

h1{
    font-size: 100px;
    color: rgb(21, 15, 78);
}

p {
    font-family: serif;
    font-size: 25px;
    line-height: 1.4;
}

span{
    color: rgb(11, 0, 107);
}

@media (max-width: 500px){
    p {
         font-family: serif;
         font-size: 18px;
         line-height: 1.4;
     }
     h1{
         font-size: 80px;
         color: rgb(21, 15, 78);
     }
     
  }

